.form__contents
  .col-lg-4.col-md-6.ml-auto.mr-auto
    .form__content
      .form__head
        %h2.form__text タスク編集画面
= form_with(model: @task, local: true, id: "form__task") do |f|
  = render 'taskForm', { group: @group, task: @task, f: f}