
.form{

  &__contents{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__content{
    max-width:500px;
    min-width:400px;
    margin:0 auto;
    text-align:center;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color:rgba(250, 250, 250, 0.5);

    .form__box:nth-child(2) {
      margin-top: 30px;
    }
  }

  &__head{
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    background-color:#2ABCA7;
    color:$form-font-color;
    a{
      font-size: 0.75rem;
      text-decoration-line: none;
    }
    a:hover{
      .form__text{
        color: $hover-font-color;
      }
    }

    h2 {
      text-align:center;
      padding:18px 0 18px 0;
      @include mq(xlarge) {
        font-size: 1.4em;
      }
      font-size: 1rem;
    }
  }

  &__group{

    input{
      &__box {
        margin-bottom:10px;
      }
      &__box:first-of-type{
        margin-top:35px;
      }
    }
    textarea {
      height:100px;
      margin-bottom:10px;
    }

    input, textarea {
      font-size: 1em;
      padding: 15px 10px 10px;
      font-family: 'Source Sans Pro',arial,sans-serif;
      border: 1px solid $form-line-color;
      background: $form-back-color;
      color:$form-font-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 80%;
      max-width: 600px;
    }

    ::-webkit-input-placeholder {
       color: $form-font-color;
    }
    :-moz-placeholder {
       color: $form-font-color;
    }
    ::-moz-placeholder {
       color: $form-font-color;
    }
    :-ms-input-placeholder {
       color: $form-font-color;
    }
  }

  &__footer{
    margin-top: 15px;
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
    background-color:#2ABCA7;
    color:$form-font-color;
    a{
      font-size: 0.75rem;
      text-decoration-line: none;
    }
    a:hover{
      .form__text{
        color: $hover-font-color;
      }
    }

    h2 {
      text-align:center;
      padding:18px 0 18px 0;
      font-size: 1.4em;
    }
  }


  &__button{
    font-size: 1.2rem;
    margin-top:15px;
    margin-bottom:25px;
    background-color:#2ABCA7;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2ABCA7;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width:80%;
    color:#fff;
  }

  &__button:hover{
    background:#19a08c;
  }

  &__text{
    color: $font-color;
    text-align: right;
    padding-right: 3rem;
    ul li{
      list-style: none;
    }
  }

  &__check{
    display: inline-block;
    margin-left: 3rem;
    height: 20px;
    width: 5%;
  }

  &__label{
    line-height: 20px;
    width: 70%;
  }

  &__box{
    @include mq(xlarge) {
      margin: 20px 0 10px;
    }
    input, textarea {
      font-size: 1em;
      padding: 15px 10px 10px;
      font-family: 'Source Sans Pro',arial,sans-serif;
      border: 1px solid $form-line-color;
      background: $form-back-color;
      color:$form-font-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      max-width: 600px;
    }

    input[type="text"], [type="file"], [type="password"] ,input[type="email"] {
      width: 80%;
    }
  }

  &__lists{
    list-style: none;
  }

  &__list{
    display: inline-block;
    width: 300px;
    text-align: left;
    color: $list-font-color;
    @include mq(xlarge) {
      margin: 10px 0;
      font-size: 1.5rem;
    }
    padding: 5px 0;
    font-size: 1rem;
    font-weight: bold;

    &__box{

    }

    &__button{
      color: $list-font-color;
      width: 50px;
      height: 30px;
      border-radius: 0.25rem;
      margin: 10px 0;
      line-height: 30px;
      text-align: center;
      display: inline-block;
      background-color: $button-sub-color;
      cursor: pointer;
    }
    &__button:hover{
      color: $button-font-color;
      background-color: $button-main-color;
    }
  }
}

/* media queries */
@media (max-width: 700px) {

  input, textarea {
    width: 90%;
  }
  button {
    width:90%;
  }

}

//  投稿用フォーム  //
.form {

  &__post{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #3cad7e;
    font-family: 'Arial', sans-serif;

    &__wrap{
      width: 94vw;
      max-width: 600px;
      margin: 0 auto;
      background-color: rgba(255,255,255,0.5);
    }

    &__box{
      margin-bottom:10px;
      font-family: 'Source Sans Pro',arial,sans-serif;

      :first-of-type{
          padding-top:15px;
        }

      textarea {
        height:100px;
        margin-bottom:10px;
      }
    }

    &__label{
      display: block;
      color: $link-main-color;
      padding: 10px 0 10px 30px;
    }

    &__textbox{
      font-size: 1em;
      padding: 15px 10px;
      border: 1px solid $form-line-color;
      background: $form-back-color;
      color:$form-font-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 80%;
      margin: 0 10%;
      max-width: 100vw;
      opacity: 0.9;
    }

    &__selectbox{
      @include mq(xlarge) {
        height: 40px;
      }
    }

    &__button{
      width: 100%;
      height: 50px;
      border-radius: 0.25rem;
      margin-top: 20px;
      line-height: 30px;
      text-align: center;
      display: inline-block;
      color: $list-font-color;
      background-color: $button-sub-color;
    }

    &__button:hover{
      color: $button-font-color;
      background-color: $table-main-color;
    }

    &__container{
      h1{
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 50px;
      }
    }
  }
}