
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

#home{
  background-image: url(home-bg.jpg);
  min-height: 100vh;
}

.home{
  &__large-background{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $background-color;
    background-blend-mode: screen;
    padding-bottom: 70px;
  }
}

.page{
  &__header{
    display: flex;
    justify-content: space-between;

    &__comment{
      width: 100%;
      z-index: 99;
      text-align: center;
      background: $header-back-color;
      color: $header-font-color;
    }

    &__message{
      position: relative;
      padding: 0.75rem 1.25rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }
  }
  &__link{
    &__text{

    }
  }
  &__main{
    &__nav{
      display: flex;
      font-size: 1rem;
      @include mq(xlarge) {
        font-size: 1.25rem;
      }
      text-transform: uppercase;
      margin-top: 34px;
      list-style: none;
    }
    &__nav li{
      @include mq(xlarge) {
        margin-left: 40px;
      }
      margin-left: 30px;
    }
    &__nav a{
      color: $link-main-color;
    }
    &__nav a:hover{
      color: $hover-main-color;
      text-decoration-line: none;
    }
  }

  &__contents{
    text-align: center;
    margin-top: 60px;

    &__text{
      font-size: 1.125rem;
      margin: 10px 0 42px;
    }
  }

  &__title{
    font-size: 3.5rem;
    @include mq(xlarge) {
      font-size: 5rem;
    }
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
  }

  &__button{
    font-size: 1.375rem;
    background: $button-sub-color;
    color: $button-font-color;
    border-radius: 10px;
    padding: 18px 32px;
    margin: 0 20px;
  }

  &__button:hover{
    background: $hover-main-color;
    color: $hover-font-color;
    text-decoration-line: none;
  }
}