.table{
  &__content {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0;
    width: 650px;
    font-size: 1rem;

    &--link{
      text-align: right;
      font-weight: bold;

      a{
        color: $font-color;
      }

      a:hover{
        text-align: right;
        color: #FF7043;
        font-weight: bold;
        text-decoration: none;
      }
    }

    td,th{
      padding:10px;
      color:$list-font-color;
    }
    th{
      color:#fff;
      background: $table-main-color;
    }
    tr:nth-child(odd){
      color: $form-font-color;
      background:$table-odd-color;
    }
    tr:nth-child(even){
      color: $form-font-color;
      background: $table-even-color;
    }
  }

  &__show{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;

    th{
      width:25%;
      padding:10px;
      text-align: left;
      vertical-align: top;
      color: #444;
      background-color: #cee7ff;
      border-left: 3px double #999;
      border-top: 1px solid #fff;
      border-right: 1px solid #8fd2ed;
      border-bottom: 1px solid #ccc;
    }
    td{
      width:75%;
      padding:10px;
      background-color: #fafafa;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
  }
}

@media screen and (max-width: 600px) {
  .table{
    &__content {
      border: 0;
      width:100%;
      font-size: 0.8rem;
    }
  }
}