.table{
  &__content {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0;
    width: 650px;
    font-size: 1rem;

    &--link{
      text-align: right;
      font-weight: bold;

      a{
        color: $font-color;
      }

      a:hover{
        text-align: right;
        color: #FF7043;
        font-weight: bold;
        text-decoration: none;
      }
    }

    td,th{
      padding:10px;
      color:$list-font-color;
    }
    th{
      color:#fff;
      background: $table-main-color;
    }
    tr:nth-child(odd){
      color: $form-font-color;
      background:$table-odd-color;
    }
    tr:nth-child(even){
      color: $form-font-color;
      background: $table-even-color;
    }
  }
}

@media screen and (max-width: 600px) {
  .table{
    &__content {
      border: 0;
      width:100%;
      font-size: 0.8rem;
    }
  }
}